{% extends "base.html" %}

{% block content %}
<!-- TAB CANCHAS -->
<div id="canchas" class="tab-content active">
    <div class="section-header">
        <h2 class="section-title">Canchas</h2>
        <button class="btn btn-primary" onclick="showForm('cancha')">+ Agregar Cancha</button>
    </div>
    
    <div id="form-cancha" class="form-container" style="display: none;">

        <h3 id="form-title-cancha">Nueva Cancha</h3>

        <form id="form-canchas">
            <input type="hidden" id="nro_cancha">
            <div class="form-row">
                <div class="form-group">
                    <label>Tipo de Cancha</label>
                    <select id="tipo" required>
                        <option value="" disabled selected>Seleccionar tipo</option>
                    </select>
                </div>

                <!-- Costo -->
                <div class="form-group">
                    <label>Costo por Hora</label>
                    <input type="number" step="1" id="costo_por_hora" required>
                </div>

                <!-- Servicios -->
                <div class="form-group">
                    <label>Servicios disponibles (mantener Ctrl para seleccionar varios)</label>
                    <select id="servicios" multiple size="4">
                        <!-- opciones añadidas dinámicamente -->
                    </select>
                </div>
            </div>

            <!-- BOTÓN DINÁMICO -->
            <button id="btn-submit-cancha" type="button" class="btn btn-success" onclick="agregarCancha()">
                Guardar
            </button>

            <button type="button" class="btn btn-danger" onclick="cancelarForm('cancha')">
                Cancelar
            </button>

        </form>
    </div>

    <!-- TABLA -->
    <div id="canchas-table-container">
        <div class="loading">Cargando...</div>
    </div>
</div>
{% endblock %}
